doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1 Iniciar sesión en UpTask

            include partials/mensajes

            form#formulario.caja.caja-login(action="/iniciar-sesion" method="POST")
                .campo
                    label(for="email") Email
                    input#email(type="email" name="email" placeholder="Tu Email" value= email)
                .campo
                    label(for="password") Password
                    input#password(type="password" name="password" placeholder="Tu Password" password= password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesion")
                .campo.acciones
                    a(href="/crear-cuenta") Aun no tienes cuenta? Crea una gratis
                    a(href="/reestablecer") Olvidaste tu contraseña?
