doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Agrega tu e-mail para reestablecer la contraseña

            include partials/mensajes
                                
            form.caja-login(action="/reestablecer" method="POST")
                .campo
                    label(for="email") Email
                    input(type="email" name="email" placeholder="Tu Email" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")
                .campo.acciones
                    a(href="/iniciar-sesion") Ya lo recordé, iniciar sesión

